body{width: 400px;margin: 50px auto;}
table{border-collapse: collapse;}
td.green{background: green;}
td.red{background: red}
td{width:28px;height:28px;border:1px solid black; background:white; cursor:pointer; text-align: center;color: white;}
td.checked{background:black;}


/*
	Invert colors style
*/

.invert td{background: green;cursor: default;}
.invert td.green{background:white;color:black;}
.invert td[color='red']{background:red;}