@import "antd/dist/antd.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.todo-sidebar {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  border-right: 8px solid rgb(209, 208, 208);
  background: rgb(211, 210, 210);
}
.main-container {
  height: 100%;
  width: auto;
  flex-grow: 1;
  margin: 34px 34px 34px 34px;
}
.todo-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 296px;
  border: none;
  padding: none;
  margin: 40px 0px 20px 2px;
  font-size: 16px;
  padding: 4px;
  box-sizing: content-box;
  background: rgb(190, 190, 190);
  cursor: default;
}
.todo-input:focus-visible {
  outline: none;
  border-radius: 3px;
}
.todo-input:focus {
  box-shadow: 0 0 0 5px rgb(79, 143, 238, 0.84);
  transition-property: border;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}
.category-btn {
  background: rgb(190, 190, 190);
  border-radius: 6px;
  display: flex;
  justify-content: "space-between";
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-spacebetw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
}
.category-style {
  border-radius: 8px;
  background: rgb(190, 190, 190);
  width: 145px;
}
.category-style2 {
  border-radius: 8px;
  background: rgb(190, 190, 190);
  width: 145px;
}
.category-style:hover {
  background: rgb(128, 125, 125, 0.7);
}
.category-style2:hover {
  background: rgb(204, 93, 93, 0.7);
}
.title-mylists {
  color: #727272;
  display: flex;
  justify-content: flex-start;
  margin-left: 18px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight:400;
}
.btn-plus {
  background: transparent;
  border: none;
  color: #4e4d4d;
  border-radius: 4px;
  align-items: center;
  height: 26px;
}
.btn-plus:hover {
  background: rgb(180, 180, 180);
}
.btn-plus-main {
  background: transparent;
  border: none;
  color: #4e4d4d;
  border-radius: 4px;
  align-items: center;
  height: 26px;
}
.btn-plus-main:hover {
  color: #fff9f9;
  background: rgb(79, 143, 238, 0.65);
}
.like-footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  margin-left: 12px;
}
.title-list {
  font-size: 14px;
  margin-right: 6px;
}
.list-icon {
  height: 18px;
  width: 18px;
  color: white;
  font-size: 10px;
  background: #1b9dc4;
  border-radius: 50%;
  padding: 4px;
  margin-right: 6px;
  margin-left: 6px;
}
.list-container {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  margin: 0px 16px 0px 16px;
  cursor: default;
}
.list-container:hover {
  background: #1493b994;
  border-radius: 3px;
}
.title-h1 {
  font-size: 30px;
  color: #1492b9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 26px;
}
.label-text {
  font-size: 16px;
  color: #636363;
}
.div-scrollbar {
  height: 414px;
  overflow: auto;
}
.div-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
  border-radius: 3px;
}
.div-scrollbar::-webkit-scrollbar-thumb {
  background-color: #168db1b0;
  border-radius: 3px;
}
.list-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 302px;
    border: none;
    padding: 8px 4px;
    margin: 10px 0px 10px 2px;
    font-size: 14px;
    box-sizing: content-box;
    background: rgb(190, 190, 190);
}
.list-input:hover{
  background: #1493b994;
}
.list-input:focus-visible{
  outline: none;
  cursor: default;
}
.display-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  /* margin: 0 4px 4px 0; */
  padding: 4px;
}
.item-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.item-checkbox + label {
  position: relative;
  cursor: pointer;
}
.item-checkbox + label:before {
  content: "";
  position: absolute;
  top: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.item-checkbox + label:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.item-checkbox:checked + label:after {
  background: #d3039f;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.item-checkbox:checked ~ .item-todo {
  text-decoration: line-through;
}
.item-todo {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left:72px;
  position: relative;
  color: #000000D9;
  font-weight: 400;
}
.item-todo-edit {
  position: absolute;
  border: none;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 30px;
  font-family: Georgia, serif;
  z-index: 10;
  width: 800px;
  color: rgb(114, 114, 114);
}
.item-todo-edit:focus-visible {
  outline: none;
}
.item-todo[contentEditable="true"]:focus-visible {
  outline: none;
  color: rgb(146, 5, 111);
  box-sizing: border-box;
}
.edit-item {
  color: #636363;
  height: 26px;
  width: 26px;
  padding: 2px;
  border: none;
  background: white;
  border-radius: 50%;
}

.edit-item:hover {
  background-color: rgb(243, 241, 241);
}
.delete-btn {
  align-items: center;
  color: #636363;
  height: 26px;
  width: 26px;
  padding: none;
  border: none;
  background: white;
  border-radius: 50%;
}
.delete-btn:hover {
  background-color: rgb(243, 241, 241);
}
