@import "antd/dist/antd.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.todo-sidebar {
  display: flex;
  flex-direction: column;
  width: 284px;
  height: 100%;
  box-shadow: inset -1px 0px 5px 1px rgb(201, 200, 200);
  background: rgb(211, 210, 210);
  padding: 10px 10px;
}
.main-container {
  height: 100%;
  width: auto;
  flex-grow: 1;
  padding: 10px;
}
.display-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 26px;
}
div .whole-focus:focus-visible {
  box-shadow: 0px 0px 0px 4px rgb(79, 143, 238, 0.84);
}
.category-btn {
  background: rgb(190, 190, 190);
  border-radius: 6px;
  display: flex;
  justify-content: "space-between";
}
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-spacebetw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-style {
  border-radius: 8px;
  background: rgb(190, 190, 190);
  width: 126px;
}
.category-style:hover {
  background: rgb(128, 125, 125, 0.7);
}
.category-style:active {
  outline: none;
  background: rgba(78, 78, 78, 0.7);
}
.title-mylists {
  color: #636262;
  display: flex;
  justify-content: flex-start;
  margin: 6px 0px;
  font-size: 12px;
  font-weight: 400;
}
.amount-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}
.list-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  margin-right: 4px;
  color: #636262;
}
.container-text {
  display: flex;
  justify-content: flex-start;
  margin: 8px 8px 4px 8px;
  color: #000000d9;
  font-weight: 500;
  font-size: 12px;
}
.container-icons {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 4px 8px;
}
.icon-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 26px;
  width: 26px;
}
.btn-plus {
  padding: 0px;
  display: flex;
  max-width: 80px;
  padding: 2px;
  background: transparent;
  border: none;
  color: #4e4d4d;
  border-radius: 4px;
  align-items: center;
  height: 26px;
  cursor: pointer;
}
.btn-plus2 {
  padding: 0px;
  display: flex;
  max-width: 80px;
  padding: 2px 6px;
  background: transparent;
  border: none;
  color: #4e4d4d;
  border-radius: 10px;
  align-items: center;
  height: 26px;
  cursor: pointer;
}
.like-footer:hover {
  background: rgb(180, 180, 180);
  border-radius: 6px;
}
.btn-plus2:hover {
  background: rgb(199, 199, 199);
  border-radius: 12px;
}
.btn-plus2:active {
  background: rgb(161, 161, 161);
  border-radius: 12px;
}
.btn-plus-main {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #4e4d4d;
  border-radius: 4px;
  align-items: center;
  height: 26px;
}
.btn-plus-main:hover {
  color: #1492b9;
}
.like-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  left: 0px;
  margin-left: 4px;
  cursor: pointer;
  padding-right: 8px;
  font-size: 12px;
}
.title-list {
  font-size: 12px;
  font-weight: 500;
}
.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  color: white;
  font-size: 10px;
  background: #1b9dc4;
  border-radius: 50%;
  padding: 4px;
  margin-right: 6px;
}
.list-container {
  display: flex;
  align-items: center;
  cursor: default;
  padding: 4px 4px;
  margin: 8px 0px;
  border-radius: 6px;
}

.list-container:hover {
  background: #1493b994;
  border-radius: 6px;
}
.list-container:active {
  outline: none;
  background: #107a9b94;
}
.title-h1 {
  font-size: 32px;
  color: #1b9dc4;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}
.text-main {
  font-size: 12px;
  cursor: pointer;
}
.title-input {
  font-size: 30px;
  color: #1492b9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label-text {
  font-size: 16px;
  color: #636363;
}
.div-scrollbar {
  height: 446px;
  overflow: auto;
}
.div-scrollbar-main {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  height: 500px;
  overflow: auto;
}
.div-scrollbar::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
  border-radius: 3px;
}
.div-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 3px;
}
.div-scrollbar-main::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
  border-radius: 3px;
}
.div-scrollbar-main::-webkit-scrollbar-thumb {
  background-color: #168db1b0;
  border-radius: 3px;
}
.list-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 6px;
  border: none;
  padding: 4px 4px;
  margin: 4px 4px;
  font-size: 12px;
  box-sizing: border-box;
  background: rgb(190, 190, 190);
  cursor: text;
}
.list-input:hover {
  background: #1493b994;
}
.list-input:focus {
  outline: none;
  cursor: default;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 4px rgb(79, 143, 238, 0.84);
  transition-property: border;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}
.display-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  /* margin: 0 4px 4px 0; */
  padding: 4px;
}
.checkbox-round {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-round + label {
  position: relative;
  cursor: pointer;
  align-items: center;
}
.checkbox-round + label::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  align-items: center;
}
.checkbox-round + label::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  align-items: center;
}
.checkbox-round:checked + label::after {
  background: #1b9dc4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.item-todo {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 72px;
  position: relative;
  color: #000000d9;
  font-weight: 400;
}
.item-todo-edit {
  position: absolute;
  border: none;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 30px;
  font-family: Georgia, serif;
  z-index: 10;
  width: 800px;
  color: rgb(114, 114, 114);
}
.item-todo-edit:focus-visible {
  outline: none;
}
.item-todo[contentEditable="true"]:focus-visible {
  outline: none;
  color: rgb(146, 5, 111);
  box-sizing: border-box;
}
.edit-item {
  color: #636363;
  height: 26px;
  width: 26px;
  padding: 2px;
  border: none;
  background: white;
  border-radius: 50%;
}

.edit-item:hover {
  background-color: rgb(243, 241, 241);
}
.delete-btn {
  align-items: center;
  color: #636363;
  height: 26px;
  width: 26px;
  padding: none;
  border: none;
  background: white;
  border-radius: 50%;
}
.delete-btn:hover {
  background-color: rgb(243, 241, 241);
}
.ant-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  flex-grow: 1;
  border: none;
  font-size: 12px;
  box-sizing: border-box;
  background: rgb(190, 190, 190);
  cursor: text;
}
.ant-input-affix-wrapper {
  background: rgb(190, 190, 190);
  padding: 4px 4px;
  margin: 8px 0px;
  border-radius: 6px;
}
.ant-input-affix-wrapper {
  padding: 0px 4px;
}
.ant-input-affix-wrapper:hover {
  outline: none;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: rgb(190, 190, 190);
}
.ant-input-affix-wrapper:focus {
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 4px rgb(79, 143, 238, 0.84);
  transition-property: border;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 4px rgb(79, 143, 238, 0.84);
  transition-property: border;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}
.ant-input[id="white-input"] {
  background: white;
}
.ant-input-affix-wrapper {
  border: none;
}
.ant-input-affix-wrapper[placeholder="Search"]:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: 0px 0px 0px 0px white;
}
.task{
  font-size: 12px; 
  color: rgba(0, 0, 0, 0.85);
  margin: 4px 8px;
  margin-left: 28px;
  justify-self: flex-start;
  

}
.checkbox-round {
  position: absolute;
  /* z-index: 3; */
  opacity: 0;
  cursor: pointer;
}
.checkbox-round + label {
  position: relative;
  cursor: pointer; 
}
.checkbox-round + label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: -380px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid #1b9dc4;
}
.checkbox-round + label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: -380px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid #1b9dc4;
}
.checkbox-round:checked + label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -376px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1b9dc4;
  cursor: pointer;
}
.btn-close{
  font-size: 10px;
  padding:4px;
  color: rgb(61, 61, 61);
  z-index: 10;
}
.btn-close:hover{
  background:rgba(128, 128, 128, 0.7);
  color:white;
  border-radius: 50%;
}


